body {
    background-color: grey;
    
}

#wrapper {
    width: 1170px;
    margin: 0 auto;
}

#movie-wrapper{
    width: 100%;
}

img{
    width: 100%;
}

.material-icons {
    cursor:pointer;
}

.card-content {
    height: 160px;
    overflow: hidden;
}

.card-image {
    height: 180px;
}

.slick-next:before, .slick-prev:before  {
    color: white;
    font-size: 40px;
}

#movie-wrapper .slick-next {
    right: 25px;
    z-index: 9999;
}

#movie-wrapper .slick-prev {
    left: 25px;
    z-index: 9999;
}

.slick-dots {
    bottom: 45px;
}

.slick-dots li button::before { 
   font-size: 12pt;
   color: white;
   bottom: 45px;
}